@font-face {
    font-family: 'pf_davinci_script_proinked';
    src: url('../fonts/pfdavinciscriptpro-inked-webfont.eot');
    src: url('../fonts/pfdavinciscriptpro-inked-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdavinciscriptpro-inked-webfont.woff2') format('woff2'),
         url('../fonts/pfdavinciscriptpro-inked-webfont.woff') format('woff'),
         url('../fonts/pfdavinciscriptpro-inked-webfont.ttf') format('truetype'),
         url('../fonts/pfdavinciscriptpro-inked-webfont.svg#pf_davinci_script_proinked') format('svg');
    font-weight: normal;
    font-style: normal;

}

html { height: 100%;overflow-y: hidden; }
body{ margin: 0; padding:0; font-family: 'Andika', sans-serif; font-size: 16px; text-align: center; background: fixed #ececec url('../img/bg.jpg') center no-repeat; background-size: cover; height: 100%; overflow-y: scroll; }
.wrapper { padding-top: 15px; padding-bottom: 15px; min-height: 100%; }
a { color: #161012; text-decoration: none; opacity: 0.8; }
a.active { color: #0b522a; }
a:hover, a:focus { opacity: 0.95; color: #161012; text-decoration: none; }
a.active:hover, a.active:focus { color: #0b522a; }
.icon { display: inline-block; width: 50px; height: 40px; vertical-align: sub; }
.icon-home { background: url('../img/menu-icon-home.png'); }
.icon-about { background: url('../img/menu-icon-about.png'); }
.icon-browse { background: url('../img/menu-icon-browse.png'); }
.icon-register { background: url('../img/menu-icon-register.png'); }
.icon-login { background: url('../img/menu-icon-login.png'); }
.icon-exit { background: url('../img/menu-icon-login.png'); }
.icon-profile { background: url('../img/menu-icon-profile.png'); }
blockquote { font-size: 18px; color: black; }

.clinched { position: fixed; right: 15px; }
ul.menu, h1, h2, h3, h4, h5, h6 { font-family: 'pf_davinci_script_proinked', serif; }
h1 { font-size: 48px; color: #007735; }

.logo { max-width: 250px; width: 100%; margin: 0 auto 20px; }
.logo a { display: block; }

ul.menu { list-style: none; margin: 20px 0; padding: 0;font-size:38px; display: inline-block; text-align: left; }
ul.menu li { display: block; margin: 0; padding: 0; }

.create { max-width: 221px; width: 100%; margin: 0 auto; }
.create a { display: block; }

dd:first-letter { color: red; }
dd { padding: 5px 0; }
dd a { border-bottom: 1px solid #bbb; }

.minomoto { display: inline-block; margin: 20px 0; }

.about { text-align: left; }
.browse {  }
.browse h1 {  }
.browse dl {  }

.pagination>li>a { background: #161012; color: white; opacity: 0.3; border: 0; margin: 5px; line-height: 25px; width: 25px; text-align: center; padding: 0; }
.pagination>li:first-child>a, .pagination>li:last-child>a { border-radius: 0; }
.pagination>li>a:hover { background: #161012; color: white; opacity: 0.5; }
.pagination>li>a.active { background: rgba(11,82,42,0.5); color: white; opacity: 0.8; }

.renga .players ul { margin: 0; padding: 0; list-style: none; }
.renga .players ul li { display: inline-block; margin:5px; }
.renga .players ul li a { background: rgba(11,82,42,0.5); color: white; padding: 0 5px; }
.renga .players ul li a.close { float: none; font-size: inherit; }
.renga .players ul li.owner a { padding-left: 32px; background-image: url('../img/menu-icon-login.png'); background-position: top left; background-size: contain; background-repeat: no-repeat; }
.renga .players ul li.owner a { padding-left: 32px; background-image: url('../img/menu-icon-login.png'); background-position: top left; background-size: contain; background-repeat: no-repeat; }
.renga .players ul li.me a { background: rgba(11,82,42,0.8); }
.renga .players ul li.dead a { background: rgba(11,82,42,0.2); }
.renga .players ul li.comein a { background: rgb(202, 100, 82); }
.renga .players ul li.nojoin { color: rgb(202, 100, 82); font-size: 14px; }

.renga .verses { margin-top: 20px; }
.renga .verses .rtop { margin: 0 auto; max-width: 483px; width: 80%; height: 66px; background: url('../img/rengatop.png') bottom center no-repeat; background-size: contain; }
.renga .rshad { min-height: 200px; background-image: url('../img/rengaleftbottom.png') , url('../img/rengarightbottom.png') , url('../img/rengarighttop.png') , url('../img/rengalefttop.png') , url('../img/rengarightshad.png') , url('../img/rengaleftshad.png'); background-repeat: no-repeat , no-repeat , no-repeat , no-repeat , repeat-y , repeat-y; background-position: left bottom , right bottom , right top , 16px top , right top , 21px top; }
.renga .rpaper { min-height: 200px; background-image: url('../img/rengapaperbottom.png') , url('../img/rengapapertop.png') , url('../img/rengapapery.jpg'); background-repeat: repeat-x , repeat-x , repeat; background-position: bottom left , top left , top left; margin-left: 30px; margin-right: 30px; padding: 80px 30px 60px; }
.renga .rpaperw { min-height: 200px; background-image: url('../img/rengapaperw.jpg'); padding: 10px; }
.renga .rbottom { width:98%; max-width: 522px; height:24px; background:url('../img/rengabottom.png') top center no-repeat; background-size: contain; margin: 0 auto; }
.renga h1 { margin-top: 10px; }
.renga .verse { text-align: left; white-space: pre; font-size: 14px; margin: 10px 0; }
.renga .even .verse { margin-left: 30px; }
.renga .tooltip .tooltip-inner { background: rgba(11,82,42,0.6); border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }
.renga .tooltip .tooltip-arrow { border-left-color: rgba(11,82,42,0.6)!important; }

.hearts { background: url('../img/heart.png') right 3px no-repeat; float: right; margin: 10px 0 0; padding: 0 22px 0 10px; min-height: 30px; font-size: 14px; color: #888; }
.hearts.red { background-image: url('../img/heartred.png'); color: #d64041; }
.hearts.click { cursor: pointer; }

.owner-actions { margin-bottom: 10px; }

.chat .ctop { margin: 0 auto; max-width: 350px; width: 80%; height: 58px; background: url('../img/topchat.png') bottom center no-repeat; background-size: contain; }
.chat .cshad { background-image: url('../img/rengaleftbottom.png') , url('../img/rengarightbottom.png') , url('../img/rengarighttop.png') , url('../img/rengalefttop.png') , url('../img/rengarightshad.png') , url('../img/rengaleftshad.png'); background-repeat: no-repeat , no-repeat , no-repeat , no-repeat , repeat-y , repeat-y; background-position: left bottom , right bottom , right top , 16px top , right top , 21px top; }
.chat .cpaper { background-image: url('../img/rengapaperbottom.png') , url('../img/rengapapertop.png') , url('../img/rengapapery.jpg'); background-repeat: repeat-x , repeat-x , repeat; background-position: bottom left , top left , top left; margin-left: 30px; margin-right: 30px; padding: 50px 10px 50px; }
.chat .cpaperw { background-image: url('../img/rengapaperw.jpg'); padding: 10px; }
.chat .cbottom { width:92%; max-width: 522px; height:24px; background:url('../img/rengabottom.png') top center no-repeat; background-size: contain; margin: 0 auto; }
.chat h2 { margin: 0; font-size: 28px; }
.chat .ctext { height: 100px; text-align: left; font-size: 12px; }
.chat .ctext .nick { display: block; float: left; width: 30%; }
.chat .ctext .nick a {  color: rgba(11,82,42,1); }
.chat .ctext .message { display: block; float: left; width: 70%; }


@media (max-width: 1199px) {
    .about { background: rgba(255,255,255,0.5); color: black; padding: 10px; }
    .chat .ctext .nick { width: 40%; }
    .chat .ctext .message { width: 60%; }
    .chat .cpaperw { padding: 5px; }
    .chat .cpaper { padding-left: 0; padding-right: 0; }
}
@media (max-width: 991px) {
    .about { background: rgba(255,255,255,0.5); }
}
@media (max-width: 767px) {
    .clinched { position: static; }
    .about { background: transparent; color: #333; padding: 0; }
    .browse { text-align: center; background: transparent; }
    .chat .ctext .nick { width: 30%; }
    .chat .ctext .message { width: 70%; }
    .chat .cpaperw { padding: 10px; }
    .chat .cpaper { padding-left: 10px; padding-right: 10px; }
}
@media (max-width: 500px) {
    .renga .rbottom { width:93%; }
    .chat .ctext .nick { width: 40%; }
    .chat .ctext .message { width: 60%; }
    .chat .cpaperw { padding: 5px; }
    .chat .cpaper { padding-left: 0; padding-right: 0; }
}

form { display: inline-block; min-width: 250px; }
.edit-profile form, .renga form, .chat form { min-width: 100%; }
.chat form { height: 40px; }

.form-horizontal .form-group { margin-right: 0; margin-left: 0; }
.form-control { padding: 15px 12px; background: rgba(11,82,42,0.2); color: white; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 0; height: 44px; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }
.form-control:focus { background: rgba(11,82,42,0.5); }
.form-control::-webkit-input-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }
.form-control:focus { border-color: #007735; box-shadow: none; outline-offset: 0; outline: 0; }
.form-control:focus::-webkit-input-placeholder { color: transparent; }
.form-control:focus::-moz-placeholder { color: transparent; }
.form-control:focus:-moz-placeholder { color: transparent; }
.form-control:focus:-ms-input-placeholder { color: transparent; }

.sod_select { width: 100%; border: 0;background: rgba(11,82,42,0.2); color: white; text-transform: none; font-weight: 400; font-size: 14px; padding: 15px 12px; }
.sod_select.open { color: white; }
.sod_select.focus { box-shadow:none;background: rgba(11,82,42,0.5); }
.sod_select .sod_label { overflow: visible; }
.sod_select .sod_list_wrapper { width: 100%; border: 0; margin: 0;background: rgba(11,82,42,0.5); color: white; font-weight: normal; }
.sod_select .sod_option.active { background: rgba(11,82,42,0.3); color: white; font-weight: normal; }
.sod_select .sod_option.selected { font-weight: normal; }
label.error { font-weight: normal; font-size: 12px; color: #aaa; position: relative; height: 0; }

button.btn { border: 0; border-radius: 0; background: rgba(11,82,42,0.5); color: white; }
button.btn:hover { background: rgba(11,82,42,0.8); color: white; }

.alert { border: 0; padding: 0; margin: 0; font-size: 12px; }
.alert ul { margin:0; padding:0; list-style: none; }
.alert-danger { background: none; }

#message-textarea { font-size: 14px; line-height: 1.2; }
.verse-form-container button { width: 40px; height: 40px; position: relative; top: -40px; border: 0; background: none; background-image: url('../img/brush.png'); background-repeat: no-repeat; background-position: center; }

.chat .form-group { margin: 10px 0 0; }
.chat .form-control { padding: 5px 30px 5px 5px; height: auto; font-size: 12px; }
.chat button { width: 30px; height: 30px; position: relative; top: -30px; border: 0; background: none; background-image: url('../img/brush.png'); background-repeat: no-repeat; background-position: center; }

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 500px) {
}

.renga form { height: 75px; }

.renga-warning { background: rgba(11,82,42,0.5); color: white; border-radius: 0; margin-top: 5px }

.widget-box-overlay { background-color: #737373; }
